@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); /* fonte da internet */

:root {
    --cor-fundo: black;
    --cor-primaria: #29BB9A;
    --cor-destaque: #B3E2AB;
    --cor-secundaria: #1D4A8E;
    --cor-tercearia: #122B52;
    --fonte-principal: 'Krona One','sans-serif';
    --fonte-secundaria: 'Mulish','sans-serif';
    --cor-hover: #272727
}

*{
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {
.cabecalho {
    background-color: var(--cor-fundo);
    padding: 2% 2% 1.6% 15%;
   
}

.cabecalho_menu {
   /* display: flex;*/
    gap: 80px;
    justify-direction: column-reverse;
    }
}

.cabecalho_menu_link {
    font-family: var(--cor-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.titulo_destaque{
    color: var(--cor-destaque);
}

body {   /*  pagina */
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

@media (max-width: 1000px) {
.apresentacao { /* section e  img */
   /* display: flex; alinhamento em linha */ 
    align-items: center;
    /* margin: 10% 20%;  */
    padding: 6% 25%;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    justify-content: space-between;
     justify-direction: column-reverse;
    gap: 82px;
    }
}

.apresentacao_conteudo {  /* section */
    width: 615px; /* caixa maior */
    display: flex; 
    flex-direction:column /* alinhamento em coluna */
    
      /* gap espaçamentoentres as linhas e colunas  */
    width: auto;
}


.apresentacao_conteudo_titulo {  /* h1 */
    font-size: 2.1rem; /* tamanho da fonte */
    font-family: var(--fonte-principal);  /* fonte do h1 */
    margin-bottom: 30px;
}

.apresentacao_conteudo_texto {  /* p */
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
     /* display: flex;   */
    /* flex-direction: column;   */
      /* justify-content: space-between;    */
     /* padding: 20% ;   */
    line-height: 36px; 
    margin-bottom: 30px;
    /* align-items: center; */
    /* width: 300; */
}

.apresentacao_links {  /* links */
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* espaco entre os elementos */
    align-items: center;
    gap: 32px;
}

/*
.apresentacao_conteudo {  /* section 
    width: 615px;  caixa maior 
    display: flex; 
    flex-direction:column  alinhamento em coluna 
    
       gap espaçamentoentres as linhas e colunas  
    
}
*/

.apresentacao_links_subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    size: 1.5rem;
}


.apresentacao_links_link { /* os dois butoes ou links */
    
    /*background-color: #22d4fd;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 250px;  /* largura */
    text-align: center;  
    border-radius: 10px;  /* mais arredondado */
    font-size: 24px;
    font-weight: 300;
    padding: 21.5px 0;  /* espaço entre o conteudo e a borda */
    text-decoration: none; /* tira o sublinhado */
    color: var(--cor-fundo);
    font-family: var(--fonte-secundaria);
    /*margin: 0 15px; */ 
    border: 3px solid var(--cor-primaria);
}

.apresentacao_links_link:hover{
    background-color: var(--cor-hover);
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    Height: 400px;
    margin-left: 70px;
    width: 250px;
    border-radius: 16px;
    margin-bottom: 200px;
   
 }

.rodape {
    color: var(--cor-total);
    background-color: var(--cor-secundaria);
    padding: 23px;
    text-align: center;
    font-family:var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
   }







    
